application/logs
application/logs/*

application/libraries/CSVReader.php

application/logs/log-2015-03-30.php
application/config/config.php
application/config/database.php
application/modules/login/controllers/Login.php
upload
uploads/*
node_modules
node_modules/*
package-lock.json
package.json
assets/js/core/config.script.js

sys_gen_logs
sys_gen_logs/*

.idea
.idea/*

androidapp/storage/*
!androidapp/storage

androidapp/storage/mass_attendance_storage/*
!androidapp/storage/mass_attendance_storage

androidapp/index.php

sql
sql/*

web.config
phpinfo.php
.vscode/extensions.json
.htaccess

vendor/
vendor/*

.env
composer.json
composer.lock
