.options-container {
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 2px;
    left: 0;
    right: 0;
    max-height: 540px;
    overflow: auto;
}

.options-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.options-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.options-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8e8e8e;
}

ul.employee-suggestion {
    list-style: none;
    padding: 0;
}

ul.employee-suggestion li {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 32px;
    transition: background-color 100ms;
    cursor: pointer;
}

ul.employee-suggestion li:hover {
    background-color: #f7f7f7;
}

ul.employee-suggestion li > .avatar {
    height: 55px;
    width: 55px;
    background-size: cover;
    border-radius: 50%;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
}

ul.employee-suggestion li .title {
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 15px;
}

ul.employee-suggestion li:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
}

/* hris dashboard chart container */
._container {
    height: 400px;
    width: 100%;
}

.demographics-avatar {
    height: 160px;
    width: 160px;
    background-color: #eaeaea;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #efefef;
}

.demographics-avatar-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
    justify-items: center;
    grid-gap: 24px;
}

#view_resume_file #iframe{
    height: 700px;
}

#regestration .file_label{
    background-color: #0d6efd;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

#query-builder_group_0{
    width: 100%;
}

.rule-filter-container .select2-container--default {
    width: 300px !important;
}